pkgbase = lua-posix-git
	pkgdesc = POSIX library for Lua
	pkgver = 33.2.1.70.g659b3b2
	pkgrel = 2
	url = https://github.com/luaposix/luaposix
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = git
	makedepends = help2man
	makedepends = ldoc
	depends = lua
	provides = lua-posix
	conflicts = lua-posix
	options = !makeflags
	source = lua-posix::git://github.com/luaposix/luaposix.git
	md5sums = SKIP

pkgname = lua-posix-git

