pkgbase = gamess
	pkgdesc = A general ab initio quantum chemistry package. For single machine use only.
	pkgver = 2018R3
	pkgrel = 1
	url = http://www.msg.ameslab.gov/GAMESS/GAMESS.html
	install = gamess.install
	arch = x86_64
	license = custom
	depends = gcc-fortran
	depends = tcsh
	depends = openblas
	source = gamess-current.tar.gz::file://gamess-current.tar.gz
	source = rungms.patch
	md5sums = 4e253a01b8f79526867b2fa8efecebef
	md5sums = ec868e789c349a911b6745f0b4768baf

pkgname = gamess

